.localization {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.localization__graphics {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}