.display__localization-graphics {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

@media (max-width: 859px) {
  .display__localization-graphics {
    display: flex;
    flex-direction: column;
  }
}