.protein-nav__list {
  display: flex;
  flex-wrap: wrap;
}
.protein-nav__list li {
  display: inline;
}

.protein-nav__list li a.protein-nav__list-link {
  background-color: var(--color-primary);
  border-radius: 0.2rem;
  margin: 0 0.5rem;
  padding: 0.2rem 0.5rem;
  transition: background-color 0.3s var(--timing-function);
}

.protein-nav__list li a.protein-nav__list-link {
  color: var(--font-dark);
}
.protein-nav__list li a.protein-nav__list-link:focus,
.protein-nav__list li a.protein-nav__list-link:hover {
  background-color: #64b5f6;
  text-decoration: none;
}

.protein-nav__list.capsid li a[data-virus-localization="capsid"].protein-nav__list-link,
.protein-nav__list.envelope li a[data-virus-localization="envelope"].protein-nav__list-link,
.protein-nav__list.matrix li a[data-virus-localization="matrix"].protein-nav__list-link,
.protein-nav__list.spike li a[data-virus-localization="spike"].protein-nav__list-link {
  background-color: #64b5f6;
}