.about a {
  font-family: var(--font-primary);
}

.about__credits em {
  font-style: normal;
  font-weight: bold;
}

.about__funding-list {
  align-items: center;
  border-radius: 0.2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  margin-bottom: 1.45rem;
  padding: 0.5rem 0;
}
.about__funding-list li {
  display: inline-block;
  margin: 0.5rem 0.8rem;
}
body.dark-mode .about__funding-list {
  background-color: #F2F2F2;
}

.about__links {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 -0.5rem;
  margin-bottom: 1rem;
}
.about__links li {
  display: inline-block;
  font-weight: bold;
  margin: 0 0.5rem;
  padding: 0;
}