.browse {
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}
.browse__inputs {
  align-items: center;
  display: flex;
  width: 100%;
}
.browse__inputs > *:not(:last-child) {
  margin-right: 1rem;
}
.browse__inputs .input_button {
  flex: 1;
}

.browse__select-container {
  align-items: center;
  display: flex;
}

.browse a {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.browse .select.browse__select_option-selected select {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

@media (max-width: 800px) {
  .browse__inputs {
    flex-direction: column;
  }
  .browse__inputs > * {
    width: 100%;
  }
  .browse__inputs > *:not(:last-child) {
    margin-bottom: 1rem;
    margin-right: 0;
  }
  .browse__inputs .input__label,
  .browse__inputs .select__label {
    box-sizing: border-box;
    text-align: end;
    width: 80px;
  }
}
