.comparison__inner {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem -0.5rem;
  padding-top: 1rem;
}
.comparison__inner > * {
  margin: 0.5rem 0.5rem;
}

.comparison__select-menus {
  display: flex;
  flex-direction: column;
}
.comparison__select-menus > .select {
  margin-bottom: 1rem;
  width: 10rem;
}