.comparison__options > *:not(:last-child) {
  margin-bottom: 0.8rem;
}

.comparison__options .input {
  width: 6rem;
}
.comparison__options label {
  align-items: center;
  display: flex;
  font-family: var(--font-secondary);
}
.comparison__options label > span:first-child {
  justify-self: end;
  margin-right: 0.4rem;
  width: 8rem;
}