.report__thead button {
  background: none;
  border: none;
  border-radius: 3px;
  display: inline-flex;
  flex-direction: column;
  padding: 0.2rem;
  transition: all 0.3s var(--timing-function)
}
.report__thead button:focus,
.report__thead button:hover {
  background-color: var(--color-primary);
  outline: none;
}
.report__thead button::-moz-focus-inner {
  border: 0;
}
.report__thead button svg {
  margin: 0.15rem 0;
}
.report__thead button svg path {
  fill: var(--color-font);
}
.report__thead button:focus svg path,
.report__thead button:hover svg path {
  fill: var(--color-font-dark);
}

.report__thead tr th {
  border-bottom-color: var(--color-font);
}

.report__thead-prey,
.report__thead-profile {
  vertical-align: bottom;
}

.report__th-inner {
  align-items: center;
  display: flex;
  justify-content: center;
}
.report__th-inner > * {
  margin: 0 0.15rem;
}
