.network .display__inner {
  width: 100%;
}

.network__cytoscape-container {
  border: 2px solid var(--color-primary);
  border-radius: 3px;
  height: calc(100vw - 48px);
  max-height: 700px;
  width: 100%;
}

.network__buttons {
  margin-top: 1rem;
}