.heatmap {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
}

.heatmap h1,
.heatmap p {
  width: 100%;
}

.heatmap h1 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.heatmap p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 0.3rem;
}

.heatmap__container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: calc(100vw - 2rem);
  min-height: 350px;
  overflow: auto;
}

.heatmap__columns-container {
  background-color: var(--color-background);
}
.heatmap__columns {
  align-items: flex-end;
  box-sizing: border-box;
  display: flex;
  height: 50px;
  margin-left: 100px;
  padding-right: 15px;
}
.heatmap__columns > div {
  box-sizing: border-box;
  display: inline-block;
  height: 50px;
  padding-top: 3px;
  width: 20px;
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
}
.heatmap__columns > div > a {
  font-family: var(--font-secondary);
  font-size: 16px;
  position: relative;
}
.heatmap__columns > div > a:hover:after,
.heatmap__columns > div > a:focus:after,
.heatmap__columns > div > a:active:after {
  border-left: 1px solid;
  content: '';
  height: 100%;
  left: 1px;
  position: absolute;
  top: 0;
}
.heatmap__columns > div > a:hover,
.heatmap__columns > div > a:focus,
.heatmap__columns > div > a:active {
  text-decoration: none;
}

.heatmap__scroll-container {
  box-sizing: border-box;
  flex-grow: 1;
  min-height: 300px;
  min-width: 655px;
  overflow-y: auto;
  padding-right: 15px;
}

.heatmap__scroller {
  align-items: flex-start;
  display: flex;
}

.heatmap__rows {
  width: 100px;
}
.heatmap__rows > div {
  box-sizing: border-box;
  font-family: var(--font-secondary);
  font-size: 16px;
  height: 20px;
  padding-right: 3px;
  text-align: right;
  width: 100px;
}

.heatmap__highlight {
  background-color: var(--color-accent);
  color: var(--color-font-dark);
}
.heatmap__highlight a:link {
  color: var(--color-accent-link);
}

.heatmap__controls {
  align-items: center;
  display: flex;
  font-size: 1rem;
  margin-bottom: 0.8rem;
  width: 100%;
}
.heatmap__legend {
  color: var(--color-link);
  display: inline-block;
  position: relative;
}
.heatmap__legend:hover::after,
.heatmap__legend:hover::before {
  opacity: 1;
  visibility: visible;
}
.heatmap__legend::before {
  border-color: var(--color-font) transparent transparent transparent;
  border-style: solid;
  border-width: 4px 6px 0 6px;
  content: '';
  left: 100%;
  margin-left: 1px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translatey(-50%) rotate(90deg);
  transition: opacity 0.2s ease;
  transition-delay: 0.2s;
  visibility: hidden;
  z-index: 1000;
}
.heatmap__legend::after {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
              0 2px 2px rgba(0,0,0,0.15), 
              0 4px 4px rgba(0,0,0,0.15), 
              0 8px 8px rgba(0,0,0,0.15);
  content: url('./assets/legend.svg');
  left: 100%;
  margin-left: 0.5rem;
  opacity: 0;
  overflow: hidden;
  padding: 0.8rem 1rem;
  pointer-events: none;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateX(0%) translateY(-50%);
  transition: opacity 0.2s ease;
  transition-delay: 0.2s;
  visibility: hidden;
  z-index: 1000;
}
.heatmap__controls .input {
  font-size: 1rem;
  margin-left: 1rem;
}
.heatmap__controls .input input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 30px;
  width: 120px;
}
.heatmap__controls button {
  border-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  height: 30px;
  width: 30px;
}
.heatmap__controls-message {
  margin-left: 0.8rem;
}
.heatmap__controls-message svg {
  color: var(--warning);
  margin-right: 0.5rem;
}
