.report__prey-filters {
  background-color: rgba(125, 195, 131, 0.3);
  border-radius: 0.2rem;
  display: flex;
  padding: 0.4rem 0.5rem;
}
.report__prey-filters > *:first-child {
  margin-right: 1rem;
}
.report__prey-filters input {
  width: 6rem;
}
.report__prey-filters label {
  align-items: center;
  display: flex;
  font-family: var(--font-secondary);
}
.report__prey-filters label span {
  margin-right: 0.4rem;
}

.report__prey-options {
  align-items: center;
  display: flex;
  margin: 0.8rem 0;
}
.report__prey-options a {
  margin-left: auto;
}
.report__prey-options a span {
  margin-left: 0.3rem;
}