.report__preys {
  padding: 0 2rem;
}
.report__prey-filters {
  background-color: var(--color-dark-accent);
  border-radius: 0.2rem;
  display: flex;
  padding: 0.4rem 0.5rem;
}
.report__prey-filters > *:first-child {
  margin-right: 1rem;
}
.report__prey-filters input {
  width: 6rem;
}

.report__prey-legend ul {
  background-color: var(--color-dark-accent);
  border-radius: 0.2rem;
  font-size: 1rem;
  list-style: none;
  margin: 0.6rem 0;
  padding: 0.3rem 0.5rem;
}
.report__prey-legend ul li {
  margin: 0.4rem 0;
}

.report__prey-options {
  align-items: center;
  display: flex;
  margin: 0.8rem 0;
}
.report__prey-options a {
  margin-left: auto;
}
.report__prey-options a span {
  margin-left: 0.3rem;
}