.protein-nav__list {
  display: flex;
  flex-wrap: wrap;
}
.protein-nav__list li {
  display: inline;
}

.protein-nav__list li a.protein-nav__list-link {
  background-color: var(--color-primary);
  border-radius: 0.2rem;
  margin: 0 0.5rem;
  padding: 0.2rem 0.5rem;
  transition: background-color 0.3s var(--timing-function);
}

.protein-nav__list li a.protein-nav__list-link {
  color: var(--color-font-dark);
}
.protein-nav__list li a.protein-nav__list-link:focus,
.protein-nav__list li a.protein-nav__list-link:hover {
  background-color: var(--color-display-focus);
  text-decoration: none;
}

.protein-nav__list[data-highlighted*="capsid"] li a[data-virus-localization*="capsid"].protein-nav__list-link,
.protein-nav__list[data-highlighted*="envelope"] li a[data-virus-localization*="envelope"].protein-nav__list-link,
.protein-nav__list[data-highlighted*="matrix"] li a[data-virus-localization*="matrix"].protein-nav__list-link,
.protein-nav__list[data-highlighted*="spike"] li a[data-virus-localization*="spike"].protein-nav__list-link {
  background-color: var(--color-display-focus);
}

.protein-nav__list[data-highlighted*="cytoplasm"] li a[data-cell-localization*="cytoplasm"].protein-nav__list-link,
.protein-nav__list[data-highlighted*="ER"] li a[data-cell-localization*="ER"].protein-nav__list-link,
.protein-nav__list[data-highlighted*="Golgi"] li a[data-cell-localization*="Golgi"].protein-nav__list-link,
.protein-nav__list[data-highlighted*="nucleus"] li a[data-cell-localization*="nucleus"].protein-nav__list-link,
.protein-nav__list[data-highlighted*="plasma_membrane"] li a[data-cell-localization*="plasma_membrane"].protein-nav__list-link {
  background-color: var(--color-display-focus);
}