.report > * {
  margin: 1rem 0;
}

.report header {
  background-color: var(--color-accent);
  border-radius: 0.3rem;
  column-gap: 0.5rem;
  display: grid;
  font-family: var(--font-secondary);
  grid-template-columns: 10rem auto;
  padding: 0.3rem 0.5rem;
  row-gap: 0.5rem;
}
.report header > :nth-child(odd) {
  font-weight: bold;
  justify-self: end;
}
.report header > :nth-child(odd)::after {
  content: ':';
}
.report header a.nav-link:link,
.report header a.nav-link:visited {
  color: #53765F;
}

.report summary {
  font-family: var(--font-title);
  font-weight: bold;
}

.report__protein-sequence {
  position: relative;
}
.report__protein-sequence button {
  bottom: 0.2rem;
  opacity: 0;
  position: absolute;
  right: 0.2rem;
  transition: opacity 0.3s;
}
.report__protein-sequence code {
  display: block;
  padding: 0.2rem 0.5rem;
}
.report__protein-sequence code:hover + button,
.report__protein-sequence button:hover {
  opacity: 1;
}
.report__protein-sequence summary {
  margin-bottom: 0.5rem;
}
