.comparison__options h4 {
  font-size: 1.2rem;
}

.comparison__options > *:not(:last-child) {
  margin-bottom: 0.8rem;
}

.comparison__options * {
  align-items: center;
  display: flex;
}
.comparison__options * > span:first-child {
  justify-self: end;
  margin-right: 0.4rem;
  width: 8rem;
}
.comparison__options input {
  width: 6rem;
}
.comparison__options label {
  font-family: var(--font-secondary);
}

.comparison__options-zoom button:not(:last-child) {
  margin-right: 0.5rem;
}