.display {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1.8rem 0;
  width: 100%;
}

.display__inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1.5rem;
  max-width: 960px;
}

.display__instructions {
  background-color: var(--color-accent);
  border-radius: 0.2rem;
  color: var(--color-font-dark);
  display: inline-block;
  font-size: 1.05rem;
  line-height: 1.5rem;
  padding: 0.5rem 1rem;
  text-align: center;
}

.display__title {
  margin-bottom: 2rem;
  width: 100%;
}
.display__title-text {
  text-transform: uppercase;
}
.display__title svg {
  margin-right: 0.6rem;
}
.display__title svg .fa-primary {
  fill: var(--color-accent);
}
.display__title svg .fa-secondary {
  fill: var(--color-secondary);
  opacity: 1;
}

@media (hover: hover) {
  .display__instructions-desktop {
    display: inline;
  }
  .display__instructions-touch {
    display: none;
  }
}

@media (hover: none) {
  .display__instructions-desktop {
    display: none;
  }
  .display__instructions-touch {
    display: inline;
  }
}