.scatterplot circle {
  fill: var(--color-font);
}

.scatterplot line {
  stroke: var(--color-font);
  stroke-width: 1px;
}
.scatterplot text {
  fill: var(--color-font);
  font-family: var(--font-secondary);
}

line.scatterplot__axis {
  stroke-width: 2px;
}

.scatterplot__background {
  fill: var(--color-code);
}

.scatterplot__tick line {
  stroke-width: 2px;
}
.scatterplot__tick text {
  font-size: 0.8rem;
}