a {
  background-color: transparent;
  font-family: var(--font-secondary);
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
}
a:focus {
  outline: none;
}
a::-moz-focus-inner {
  border: none;
}
a:link {
  color: var(--color-link);
}
a:visited {
  color: var(--color-link-visited);
}
a:hover,
a:focus,
a:active {
  text-decoration: underline;
}
a:active,
a:hover {
  outline-width: 0;
}
a.link_nav:visited {
  color: var(--color-link);
}

a.link_button {
  align-items: center;
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 0.2rem;
  box-sizing: border-box;
  color: var(--color-font);
  display: flex;
  height: 2.5rem;
  justify-content: center;
  padding: 0.5rem 0.8rem;
  transition: all 0.3s var(--timing-function);
}
a.link_button:link {
  color: var(--color-font);
}
a.link_button:hover,
a.link_button:focus,
a.link_button:active {
  background-color: var(--color-background);
  border-color: var(--color-secondary);
  text-decoration: none;
}
a.link_button.link_nav:visited {
  color: var(--color-font);
}


